
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/3DScotomaSim.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
dialogue.pyc
dialogue.pyc
*.pyc
*.pyc
__pycache__/dialogue.cpython-38.pyc
__pycache__/dialogue.cpython-38.pyc
*.pyc
__pycache__/simulation3D.cpython-38.pyc
__pycache__/pupilCaptureAccess.cpython-38.pyc
__pycache__/dialogue.cpython-38.pyc
__pycache__/simulation3D.cpython-38.pyc
*.pyc
